# secrets
*.env
/etc/janu/*
/var/lib/janu/*
/var/backups/*
# node/php vendor
node_modules/
vendor/
# logs
*.log
# ---- JANU ----
/var/
/private/
*.zip
*.tar.gz
*.sqlite
.env
janu.env
**/.DS_Store
**/node_modules/
**/__pycache__/
**/*.pyc
